*{
    margin: 0px;
    padding: 0px;
}

 html, body{
     max-width: 100%;
     overflow-x: hidden;
    background-color: white;
    
}

#nav-bar{
    height:75px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 8px;
    
}

div.logo-ham{
    display: flex;
    margin-left: 10px;

   

}

.nav-bar-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 1.5rem;
}

/*.a-nav{
    padding-right: 5rem;
    /*padding-left: 2rem;
}*/

.logo{
    color: rgb(255, 35, 101);
    font-size: 20px;
    font-weight: 600;
   
    /*margin: 50px;*/
    /*padding-top: 1.5rem;*/
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2px;
    list-style: none;
    /*height: 10vh;*/
    

}

li a {
    display: block;
    margin-right: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    /*float: right;*/
}

.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 125px;
    background-color: rgb(43, 195, 255);
    margin: 0 10px;
    /*text-align: center;*/
    box-shadow: 0 0 2px black;
}

.reg a{
    color: white;
    font-size: 22px;
    font-weight: 1000;
    
}

.reg:active{
    transform: scale(0.95);
}

.reg:focus{
    outline: none;
}


.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #000000;
  }
  
  
  .menuX {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background: black;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  
  .showNav {
    transform: translateX(0);
  }
  
  .sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
    
  }
  
  .sideNav ul li a {
    display: block;
    color: white;
    margin-top: 20px;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
  }
  
  .overlay {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
  }
  
  .showOverlay {
    display: block;
  }

.ham{
    display: none;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    margin: auto;
}

.photo-gallery-box{
    display: flex;
    justify-content: center;
    /*justify-items: center;*/
    width: 100%;
    text-align: center;
    padding-top: 30px;
    
}

#box{
    display: flex;
    flex-direction: column;
    flex-grow: 2000;
    
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.learn-more{
    color: rgb(43, 195, 255);
    
}


.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(43, 195, 255);
    height: 50px;
    width: 30%;
    margin-top: -29px;
    align-self: center;
    color: white;
    box-shadow: 0 0 2px black;
     
}

.link:active{
    transform: scale(0.95);
}

.link:focus{
    outline: none;
}


#message{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5em;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 35, 101);
    height: 300px;
    width: 98%;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 3%;
}

#flex-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5%;
    width: 100%;

}

.box-left{
    height: 230px;
    width: 30%;
    background-color: white;
    margin-right: 2em;
    /*margin-left: 1em;*/
    border: none;
    box-shadow: 0 0 5px;
    font-size: 1.5vw;
}

#box-right{
    height: 230px;
    width: 30%;
    /*margin-right: 1em;*/
    background-color: white;
    border: none;
    box-shadow: 0 0 5px;
    font-size: 1.5vw;
}

#h3{
    text-align: center;
    margin-top: 20px;
}

.box-items{
    margin: 20px 20px 0px 15px;
    
}

hr{
    margin: 0px 20px 0px 20px;
}

.few{
    width: 100%;
    /*align-items: center;*/
    text-align: center;
    margin-bottom: 5rem;

}


.search{
    width: 80%;
    text-align: center;
    margin: 50px;
    /*margin-bottom: 2em;*/
    font-size: 1.3em;
}

h2{
    color:rgb(43, 195, 255);
    /*margin-bottom: 1em;*/
}

.steps{
    font-size: 1.3em;
    margin-top: 0.3em;
}

#box-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 248);
    width: 100%;
    height: 350px;
    border: none;
    margin-top: 6%;
}

.flex-box1{
    display: flex;
    justify-content: center;
    /*justify-items: center;*/
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.box1{
    height: 200px;
    width: 350px;
    text-align:center;
    margin-top: 40px;
    /*padding-right: 20px;
    color: green;
    /*background-color: white;
    /*margin-right: 30px;*/
    /*border: none;
    box-shadow: 0 0 2px;*/
}

h4{
    margin-top: 30px;
    /*margin-bottom: 20px;*/
    text-align: center;  
}

.back{
    text-align: center;
    width: 100%;
    font-size: 1.7em;
}

 #details{
     padding-bottom: 3%;
     font-size: 2em;
     color: white;
 }

 .details{
     color: white;
     width: 60%;
     text-align: center;
 }

.box1-items{
    font-size: 1em;
    margin-left: 40px;
    padding-top: 10px;
    text-align: center;
}


.matches-cta{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    height: 200px;
    width: 100%;
    background-color: rgb(43, 195, 255);
}


.flex-cta{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#find{
    text-align: center;
    font-size: 1.7em;
    color: white;
}
.cta-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color:rgb(255, 35, 101);
    margin: 3rem;
    /*padding-bottom: 1em;*/
    box-shadow: 0 0 10px black; 
}

.cta-link a{
    color:#fff;
    font-weight: bold;
}

.cta-link:active{
    transform: scale(0.95);
}

.cta-link:focus{
    outline: none;
}

.info{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
}

.info-items{
    margin-top: 3rem;
    padding: 50px;
}

.social-handles{
    text-align: center;
    margin-top: 50px;
}

#icons{
    padding-right: 20px;
    font-size: 20px;
}


#flex-box{
    /*display: flex;*/
    width: 100%;
    height: auto;
    /*justify-content: center;
    justify-content: center;*/
    margin-bottom: 5em;
}

.flex-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-right: 50px;
    justify-items: space-between;
}

#box-1{
    height: 200px;
    width: 100%;
    
}

.quick-link{
    padding-top: 7px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#copy{
    display: flex;
    text-align: center;
}

.vert-line{
    width: 0.5px;
    height: 15px;
    background-color: black;
}



@media (max-width: 768px){
    .nav-bar{
        width: 100%;
    }

    .nav_links{
        display: none;
    }

    .ham{
        display: block;
        margin-right: 1.6rem;
    }

  
    div.logo-ham{
        /*display: flex;*/
        margin-left: 0;
    
    }



    #span{
        display: flex;
        margin-right: -650px;
    }

    .photo-gallery-box{
        flex-wrap: wrap;
        width: 100%;
    }

    .box-left, #box-right{
        width: 90%;
        height: auto;
        font-size: 4vw;
        margin-top: 2%;
        margin-right: 0%;
    }
     
    #container{
        height: auto;
        width: 100%;
        margin-bottom: 2%;
    }

    #flex-container{
        flex-wrap: wrap;
        width: 100%;
    }

    .flex-box1{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        /*margin-right: 8%;
        margin-left: 8%;*/
        margin-top: 1em;
        margin-right:0em;
        /*padding-bottom: 10%;*/
        
    }

    #box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        
    }

    #box1{
        margin-bottom: 0em;
        margin-top: 2em;
    }
    #box1-items{
        margin-top: 0em;
    }

    .flex-box2{
        width: 100%;
        flex-flow: wrap;
        
    }

    .matches-cta{
        height: 300px;
       
    }

    .flex-cta{
        
        flex-direction: column;
        
        
    }

    .info{
        margin-top: 1.5rem;
    }
    
    .info-items{
        /*margin-top: 3rem;*/
        padding: 10px;
    }
    

   

    .container{
        width: 100%;
        height: auto;
    }
    #link1, #link2{
        display: flex;
        margin-bottom: 2em;
        justify-content: center;
        /*align-items: center;*/
        
    }
}





